*{
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper, .section-1, form{
    display: flex;
    flex-flow: column nowrap;
}
.wrapper h1{
    font-size: 25pt;
}
.section-1{
    padding: 30px;
    text-align: center;
    align-items: center;    
}
p{
    width: 600px;
}
form{
    background-color: whitesmoke;
    width: 320px;
    height: 340px;
    gap: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid rgba(0,0,0,0.1);
}
form input[type="text"], form input[type="date"], select{
    text-indent: 10px;
    width: 200px;
}
form input, select{
    outline: none;
    border-radius: 6px;
    height: 40px;
    border: 1px solid #acacac;
}
label{
    font-size: 11pt;
}

input{
    background-color: white;
    transition: .4s ease;
}
input[type="submit"]:hover{
    cursor: pointer;
    background-color: rgb(205, 205, 205);
}

.section-2{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-flow: row wrap;
}
table{
    border-collapse: collapse;
    background-color: whitesmoke;
    margin-bottom: 40px;
}
th{
    background-color: rgb(218, 218, 218);
}
tr,td, th{
    padding: 10px;
    border: 1px solid #a5a5a5;
    text-align: center;
}

